* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



header h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

.div-1 h3 {
  background-color: pink;
  border-bottom: black 1px solid;
  width: 90px;
}

.div-2 h3 {
  background-color: red;
  color: white;
}

.div-3 h3 {
  background-color: yellow;
}

/** Small devices **/
@media (max-width: 767px) {

  main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  div {
    background-color: gray;
    border: black 1px solid;
    padding: 35px 15px 5px;
    position: relative;
    width:90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  div h3 {
    border: black 1px solid;
    width: 90px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
  }

  
}

/** Medium devices **/
@media (min-width: 768px) and (max-width: 991px) {
  main {
    display: flex; 
    width: 90%;
    margin: auto;
    margin-top: 20px;
    position: relative;
  }
  
  div {
    background-color: gray;
    border: black 1px solid;
    padding: 35px 15px 5px;
    position: relative;
    }
  
  div h3 {
    border: black 1px solid;
    width: 90px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;

  }

  .div-1, .div-2 {
    width: 100%;
    margin-left: 20px;
  }

  .div-3 {
    position: absolute;
    top: 190px;
    width: 100%;
    left: 0;
    margin-top: 300px;
    margin-left: 20px;
  }
  }

/** Large devices **/
@media (min-width: 992px) {

  main {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 90%;
    margin: auto;
  }
  
  div {
    background-color: gray;
    border: black 1px solid;
    padding: 35px 15px 5px;
    position: relative;
    width:90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  div h3 {
    border: black 1px solid;
    width: 90px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
  }


}
